html,body{
  height: 100%;
  color:darkblue;
}


.input-group-text{
  color:darkblue;
}

.techu-err{
  color: red;
  font-weight: bold;
  text-align: center;
}

.techu-msg{
  color: green;
  font-weight: bold;
  text-align: center;
}

.dialog-body h2{
  font-size: 1.5rem;
  color: darkblue;
}

.pos-balance{
  color:darkblue;
  font-weight: bold;
}

.neg-balance{
  color:red;
  font-weight: bold;
}


vaadin-grid-cell-content{
  font-size:0.75rem;
}

@media (min-width: 400px){ /* Nexus 5 */
  vaadin-grid-cell-content{
    font-size:0.85rem;
  }
}

@media (min-width: 768px){ /* IPad */
  vaadin-grid-cell-content{
    font-size:1.5rem;
  }

  .dialog-body label, .dialog-body input{
    font-size:1.5rem;
  }

  .dialog-body h2{
    font-size:2rem;
  }

  .btn-sm{
    font-size:1.2rem;
  }

  @media (min-width: 1024px){ /* IPad Pro (laptops) */
    .only-sm{
      display:none;
    }
  }
}
